/* Modo claro (por defecto) */
body {
  background-color: #ffffff;
  color: #000000;
}

/* Modo oscuro */
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

body.dark-mode .navbar {
  background-color: #212529 !important;
  color: #ffffff;
}

body.dark-mode .game-card {
  background-color: #222;
  color: #ddd;
}

body.dark-mode .game-card:hover {
  background-color: #333;
}

body.dark-mode .game-title {
  color: #fff;
  padding: 10px 20px;
}

body.dark-mode .game-meta {
  color: #ccc;
}

body.dark-mode .game-description {
  color: #ccc;
  max-width: 700px; 
  padding: 10px 20px; 
  text-align: left; 

}

body.dark-mode .card:hover {
  background-color: #333;
}

/* Estilo de imágenes*/
.game-image {
  border-radius: 8px;
  object-fit: cover;
  width:  100%;
  height: 210px;
}

.game-image-detail {
  border-radius: 10px;
  max-width: 400px;
  object-fit: cover;
}

/* Dropdown año */
.dropdown-menu {
  max-height: 200px; /* Altura máxima del menú */
  overflow-y: auto; /* Habilitar desplazamiento vertical */
}